<navigation></navigation>

<div class="content about">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="page-header">
          <h1>&Uuml;ber uns</h1>
        </div>
        <p>Im Februar 2013 fand sich die AGF in Form einer lockeren Arbeitsgemeinschaft unter dem Dach der lokalen Agenda zusammen. Sie ist kein eigenständiger Verein, es gibt keinen Vorstand, keine Satzung und auch keine festgelegte Zuständigkeit, sondern nur die Interessengemeinschaft Gleichgesinnter. </p>
        <p>Den ehrenamtlichen Mitarbeitern geht es darum, persönlichen Kontakt zu den Flüchtlingen herzustellen und Hilfestellung zu geben bei allen auftretenden Problemen.</p>
        <p>Ein wesentlicher Schwerpunkt ist hierbei der Sprachunterricht. Inzwischen wird von etlichen ehrenamtlichen Helfern sowohl in den Gemeinschaftsunterkünften als auch in den Wohnungen Unterricht erteilt. Weiterhin existiert ein Kursangebot für Frauen im Vormittagsbereich und es werden in Absprache mit der VHS drei Kurse in deren Räumen am Nachmittag angeboten.</p>
        <p>Der zweite Schwerpunkt der ehrenamtlichen Tätigkeit liegt in der Begleitung der Neuankömmlinge zu Behörden und Institutionen, zu Ärzten bzw. Kliniken und zu sonstigen sozialen Einrichtungen, der Hilfe bei der Einschulung der Kinder sowie der Hilfe beim Schriftverkehr und bei Anträgen, aber auch bei der Vermittlung von Übersetzern.</p>
        <p>Als besonders anspruchsvoll, aber auch besonders dringend hat sich gezeigt, dass viele Flüchtlinge Hilfe und Beratung bei Rechtsangelegenheiten benötigen. Dies reicht von der Erklärung amtlicher Schreiben über Erläuterungen zum Asylverfahren bis hin zu Hilfen bei Inkasso- Verfahren und Strafbescheiden. </p>
        <p>Das Anliegen der AGF ist es, in Werne die Einstellung gegenüber Flüchtlingen und Asylbewerbern im Sinne einer Willkommens-Kultur zu beeinflussen. Dies hat bisher nur positive Resonanz gefunden, den Flüchtlingen und Asylbewerbern in Werne wird vielfältige Hilfe aus der Bevölkerung angeboten und es werden weder die Flüchtlinge noch die Helfer mit fremdenfeindlichen Aktionen konfrontiert.</p>
        <p>Die Arbeitsgemeinschaft freut sich über jede Mitbürgerin/jeden Mitbürger, der bereit ist, sich in irgendeiner Form bei der Unterstützung der Flüchtlinge einzubringen.</p>
        <p class="bg-warning"><del>Auch wenn die AGF kein e. V. ist, kann sie Spenden erhalten und auch steuerlich relevante Spendenbescheinigungen ausstellen, wenn diese Spenden auf das Konto der Lokalen Agenda Werne bei der Volksbank Werne ( IBAN DE67 4436 1342 0025 3155 00 BIC GENODEM1KBK ) mit dem Vermerk AGF eingehen.</del></p>
      </div>
      <div class="col-sm-2 .col-sm-offset-1">
        <div class="menu">
          <ul>
            <li><a href="#/about">&Uuml;ber uns</a></li>
            <li><a href="#/statutes">Vereinssatzung</a></li>
            <li><a>Mitgliedsantrag</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<footer></footer>