<navigation></navigation>

<div class="content projects">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="page-header">
          <h1>Fahrradwerkstatt</h1>
        </div>
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse perferendis doloribus asperiores hic non nihil eaque quo labore, incidunt, laboriosam aliquam nobis neque unde veritatis. Repellendus dolorum laudantium consequatur enim.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse perferendis doloribus asperiores hic non nihil eaque quo labore, incidunt, laboriosam aliquam nobis neque unde veritatis. Repellendus dolorum laudantium consequatur enim.</p>
        </div>
      </div>
      <div class="col-sm-2 .col-sm-offset-1">
        <div class="menu">
          <ul>
            <li><a href="#/projects">Aktuelle Projekte</a></li>
            <li><a href="#/classes">Sprachkurse</a></li>
            <li><a href="#/cafe">Frauen-Café</a></li>
            <li><a href="#/care">Betreuung</a></li>
            <li><a href="#/garage">Fahrradwerkstatt</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<footer></footer>