// layout/pagelayout_body_navigation
block navigation
  nav.mosaic-nav.position-relative.mt-4
    div.mosaic-nav-background.position-absolute
    div.mosaic-nav-fields.position-relative
      aside.left.float-left
        a(href="./projects.html")
          div.button.top
            span.caption.bg-projects Unsere&nbsp;Arbeit
        a(href="./infos.html")
          div.button.bottom
            span.caption.bg-about Infos
      aside.right.float-right
        a(href="./about.html")
          div.button.top
            span.caption.bg-infos Der Verein
        a(href="./contact.html")
          div.button.bottom
            span.caption.bg-contact B-Treff
// / layout/pagelayout_body_navigation