// layout/pagelayout_body_header
block header
  - var url_homepage = "index.html"
  - var url_facebook = "https://www.facebook.com/AGFWerne"
  - var url_email = "mailto:agfwerne@gmx.de"
  header.header
    div.container
      div.d-flex.justify-content-between.pt-3.pb-3
        div.p-2
          a(href="./index.html")
            div.logo--cropper(data-toggle="tooltip", data-placement="bottom", title="Startseite")
              img.image.h-1(src="img/agf-logo-sm.png")/
        div.p-2
          div.header-navigation.d-flex.justify-content-end.pt-5
            a(href="./projects.html")
              div.bg-projects.pl-4.pr-4.pb-1.ml-3 Unsere&nbsp;Arbeit
            a(href="./about.html")
              div.bg-about.pl-4.pr-4.pb-1.ml-3 Der Verein
            a(href="./infos.html")
              div.bg-infos.pl-4.pr-4.pb-1.ml-3 Infos
            a(href="./contact.html")
              div.bg-contact.pl-4.pr-4.pb-1.ml-3 B-Treff
        //- div.p-2
        //-   ul.header-navigation
        //-     li.bg-projects
        //-       a(href="#") Unsere&nbsp;Arbeit

        //-     li.bg-about
        //-       a(href="#") Infos

        //-     li.bg-infos
        //-       a(href="#") Der Verein

        //-     li.bg-contact
        //-       a(href="#") B-Treff

  //- header.container.header
  //-   div.d-sm-flex.justify-content-between
  //-     div.agf-logo.p-2.mt-3
  //-       a(href=url_homepage)
  //-         img.image.h-1(src="img/agf-logo-sm.png", data-toggle="tooltip", data-placement="bottom", title="Startseite")/
  //-     div.agf-contact.p-2.fa-3x
  //-       a(href=url_facebook, target="_blank", data-toggle="tooltip", data-placement="bottom", title="Facebook")
  //-         span.fa-layers.fa-fw
  //-           i.fas.fa-circle.c-facebook
  //-           i.fab.fa-facebook-f.text-white(data-fa-transform="shrink-6")
  //-       a(href=url_email, target="_top", data-toggle="tooltip", data-placement="bottom", title="E-Mail")
  //-         span.fa-layers.fa-fw
  //-           i.fas.fa-circle.c-about
  //-           i.far.fa-envelope.text-white(data-fa-transform="shrink-6")
// / layout/pagelayout_body_header