// layout/pagelayout_body_header
block header
  - var url_homepage = "index.html"
  - var url_facebook = "https://www.facebook.com/AGFWerne"
  - var url_email = "mailto:agfwerne@gmx.de"
  header.header
    div.container
      div.d-flex.justify-content-between.pt-3.pb-3
        div.p-2
          a(href="./index.html")
            div.logo--cropper(data-toggle="tooltip", data-placement="bottom", title="Startseite")
              img.image.h-1(src="img/agf-logo-sm.png")/
        div.p-2
          div.header-navigation.d-flex.justify-content-end.pt-5
            a(href="./projects.html")
              div.bg-projects.pl-4.pr-4.pb-1.ml-3 Unsere&nbsp;Arbeit
            a(href="./about.html")
              div.bg-about.pl-4.pr-4.pb-1.ml-3 Der Verein
            a(href="./infos.html")
              div.bg-infos.pl-4.pr-4.pb-1.ml-3 Infos
            a(href="./contact.html")
              div.bg-contact.pl-4.pr-4.pb-1.ml-3 B-Treff
// / layout/pagelayout_body_header