<agf-navigation></agf-navigation>

<div class="content about">
  <div class="container">

    <div class="row">
      <div class="col-xs-9">
        <div ng-include="$ctrl.content"></div>
      </div>

      <div class="col-xs-3">
        <br><br><br><br><br><br>

        <ul>
          <li><a href="#/about">Geschichte des Vereins</a></li>
          <li><a href="#/about?structure">Vereinsstruktur</a></li>
          <li><a href="#/about?statute">Vereinssatzung</a></li>
          <li><a href="assets/files/aufnahmeantrag-agfwerne.20170402.pdf" target="_blank">Mitgliedschaftsantrag</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<agf-footer></agf-footer>