<div class="page-header">
  <h1>Vereinsstruktur</h1>
</div>

<dl class="dl-horizontal">
  <dt>Erweiterter Vorstand:</dt>
    <dd>
      <div>geschäftsführender Vorstand</div>
      <div>1-2 Personen aus den einzelnen Arbeitskreisen</div>
    </dd>
  <dt>Aufgaben:</dt>
  <dd>
    <div>Koordination der Bereiche</div>
    <div>Überblick über die Finanzen/Geldspenden</div>
    <div>Kontakt mit der Stadt & weiteren Organisationen</div>
    <div>Planung von Veranstaltungen</div>
    <div>Weiterentwicklung der AGF</div>
  </dd>
</dl>

<ol>
  <li>
    <div><b>Deutsch als Fremdsprache</b></div>
    <ul>
      <li><b>Leitung: Annette Maru / Ingrid Spiekermann</b></li>
      <li>Koordination und Weiterentwicklung der Sprachkurse</li>
      <li>Austausch der Lehrenden</li>
      <li>Alphabetisierung / Erarbeitung von Unterrichtsmaterial</li>
    </ul>
  </li>
  <li>
    <div><b>Patenschaften  für die Betreuung von Familien und Schülern</b></div>
    <ul>
      <li><b>Leitung: Heidrun Steiger</b></li>
      <li>Aufbau eines Patenschaftsmodells mit Ansprechpartnern für die einzelnen Unterkünfte</li>
      <li>Koordinierung der Begleitung von Flüchtlingen</li>
    </ul>
  <li>
    <div><b>Vernetzung der AGF</b></div>
    <ul>
      <li><b>Leitung: Anne Zimmermann / Danilo Klose</b></li>
      <li>Intensivierung der Öffentlichkeitsarbeit über Flyer, Presse, soziale Medien etc.</li>
      <li>Einsatz von Facebook</li>
      <li>Erstellung einer Homepage</li>
    </ul>
  </li>
  <li>
    <div><b>Fahrradwerkstatt/Fernsehinstallation/Kleiderkammer/Kleinmöbel</b></div>
    <ul>
      <li><b>Leitung: Jupp Dahmen / Stefanie Feldmeier</b></li>
      <li>Umgang mit Kleidungs- und Sachspenden</li>
      <li>Fahrradwerkstatt</li>
      <li>Fernsehinstallationen/Lagerung und Ausgabe von Zubehör</li>
    </ul>
  </li>
  <li>
    <div><b>Integration in die Arbeitswelt</b></div>
    <ul>
      <li><b>Leitung: Monika Meyer Krause</b></li>
      <li>Versuch der Vermittlung von Hospitation, Praktikum, Ausbildung und Arbeit</li>
      <li>Kontakte zu Werner Unternehmen</li>
      <li>Kontakte zu Integration Point, Jobcenter usw.</li>
    </ul>
  </li>
  <li>
    <div><b>Wohnungsvermittlung</b></div>
    <ul>
      <li><b>Leitung: Kerstin Ludwig</b></li>
      <li>Kontakte zu Wohnungsbaufirmen</li>
      <li>Ablaufbeschreibung bei Anmietung einer Wohnung</li>
    </ul>
  </li>
</ol>