<agf-navigation></agf-navigation>

<div class="content contact">
  <div class="container">
    <div class="page-header">
      <h1>Kontakt</h1>
    </div>

    <h2>B-Treff</h2>

    <p>Besuchen Sie uns doch einfach im <i>B-Treff</i>, unserem Büro in der Burgstraße.</p>
    <div class="row">
      <div class="col-sm-7">
        <div class="map">
          <!-- <img class="img-responsive" src="assets/images/map.png" alt="Karte von Werne mit Position vom B-Treff"> -->
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2474.79270306946!2d7.630288515708973!3d51.66363167966106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b90c3c8df7e607%3A0xfe95b6c922aedf16!2sBurgstra%C3%9Fe+22%2C+59368+Werne!5e0!3m2!1sde!2sde!4v1493556754021" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm-5">
        <br>
        <br>
        <address>
          <strong>Arbeitsgemeinschaft Fl&uuml;chtlinge Werne e.V.</strong><br>
          Burgstraße 22<br>
          59368 Werne<br>
          Montag bis Freitag 14.30 – 16.30<br>
        </address>

        <address>
          <abbr title="Phone">Tel:</abbr> (02389) 9245582<br>
          <abbr title="Email">E-Mail:</abbr> <a href="mailto:agfwerne@gmx.de">agfwerne@gmx.de</a>
        </address>
      </div>
    </div>

    <br><br>

    <h3>Belegungsplan</h3>

    <div class="table-responsive">
      <table class="table table-bordered">
        <theader>
          <tr>
            <th>Zeitraum</th>
            <th>Montag</th>
            <th>Dienstag</th>
            <th>Mittwoch</th>
            <th>Donnerstag</th>
            <th>Freitag</th>
            <th>Samstag</th>
            <th>Sonntag</th>
          </tr>
        </theader>
        <tbody>
          <tr>
            <td>
              9.00 - 11.00 Uhr
            </td>
            <td></td>
            <td>Deutschkurse für Frauen</td>
            <td></td>
            <td>Deutschkurse für Frauen</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
<!--           <tr>
            <td>
              10.00 - 12.00 Uhr
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr> -->
          <tr>
            <td>
              14.30 - 16.00 Uhr
            </td>
            <td>Mathekurs<br>(<span style="white-space: nowrap;">Gerd Heising</span>)</td>
            <td></td>
            <td>Mathekurs<br>(<span style="white-space: nowrap;">Gerd Heising</span>)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              14.30 - 16.30 Uhr
            </td>
            <td>Arbeit, Sprachtests<br>(M. Meyer)<br><br>Formulare, Anschreiben<br>(U. Rinnen)</td>
            <td>Wohnungen, Internet, usw.<br>(K. Ludwig)</td>
            <td>Beratung<br>(H. Steiger)<br><br>Formulare, Anschreiben<br>(U. Rinnen)</td>
            <td>Wohnungen, Internet, usw.<br>(K. Ludwig)<br><br>G. Mijalski<br>(S. Korte)</td>
            <td>Andrea Calovini<br>Pia Schniedergers</td>
            <td></td>
            <td></td>
          </tr>
<!--           <tr>
            <td>
              16.00 - 18.00 Uhr
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr> -->
          <tr>
            <td>
              14.15 - 15.45 Uhr
            </td>
            <td>Herr Niebuhr<br>(<i>gerade KW)</i></td>
            <td>Herr Niebuhr<br>(<i>ungerade KW)</i></td>
            <td>Herr Niebuhr<br>(<i>gerade KW)</i></td>
            <td>Herr Niebuhr<br>(<i>ungerade KW)</i></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- <br><br><br><br> -->

    <!-- <h2>Haben Sie Fragen? Schreiben Sie uns!</h2>
    <br>

    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputName" placeholder="Name">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <textarea class="form-control" rows="3" placeholder="Hallo AGF..."></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <input class="btn btn-default pull-right" type="submit" value="Abschicken">
        </div>
      </div>
    </form> -->
  </div>
</div>

<agf-footer></agf-footer>