ul
  li
    a(href="about.html") Vereinsgeschichte
  li
    a(href="structure.html") Vereinstruktur
  li
    a(href="statutes.html") Vereinssatzung
  li
    a(href="https://github.com/AGF-Werne/media/raw/master/pdfs/agf-aufnahmeantrag.pdf", target="_blank") Mitgliedschaftsantrag