<div class="footer pos-abs">
  <div class="top">
    <div class="socialize center-block">
      <a href="https://www.facebook.com/AGFWerne" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="mailto:agfwerne@gmx.de" target="_top">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </div>
  </div>

  <div class="bottom">
    <div class="copyright small">
      &copy;&nbsp;<span class="year">2016</span>&nbsp;<a href="http://www.agf-werne.de">AGF&nbsp;Werne</a>
    </div>

    <div class="links small">
      <a href="#/contact">Kontakt</a>
      <!-- <a href="#/lawful">Rechtliches</a> -->
      <a href="#/legal">Impressum</a>
    </div>
  </div>
</div>