<div>
  <h3>Die GGUA Flüchtlingshilfe</h3>
  <p>wurde 1979 unter dem Namen Gemeinnützige Gesellschaft zur Unterstützung Asylsuchender e.V. gegründet. Sie ist ein eingetragener Verein, der soziale und aufenthaltsrechtliche Beratung für Flüchtlinge anbietet. Daneben bestehen weitere Projekte zur Verbesserung der Lebensbedingungen und der Inklusion von Flüchtlingen und anderen Migrant*innen. Seit einigen Jahren ist die GGUA zudem anerkannter Träger der Jugendhilfe.</p>
  <p>
    <a href="#/infos?ggua">mehr</a>
  </p>
  <p>
    <a href="http://www.ggua.de">Link</a>
  </p>
</div>

<br>

<div>
  <h3>Hand in Hand gegen Rassismus für Menschenrechte und Vielfalt</h3>
  <p>
    <h5>rufen dazu auf:</h5>
    <ul>
      <li>Für eine offene Gesellschaft einzustehen - vor Hass und Vorurteilen nicht zurückzuweichen.</li>
      <li>Rassismus und Hassreden friedlich aber entschieden entgegen zu treten.</li>
      <li>Flüchtlinge und alle zu schützen, die von rassistischer Hetze und Angriffen bedroht werden.</li>
      <li>Wirksame Schutzkonzepte für Frauen, Kinder, Schwule, Lesben und Transsexuelle zu entwickeln und umzusetzen.</li>
      <li>Fluchtursachen zu bekämpfen.</li>
      <li>Waffenexporte in Krisengebiete zu stoppen.</li>
      <li>Haupt- und ehrenamtliche Helfer_innen in ihrer wertvollen Arbeit besser zu unterstützen.</li>
      <li>Für Teilhabe und Integration zu sorgen. Alle Menschen haben das Recht auf ein menschenwürdiges Leben, auf bezahlbaren Wohnraum und auf Zugang zu Bildung und Arbeit.</li>
    </ul>
  </p>
  <p>
    <a href="http://hand-in-hand-gegen-rassismus.de">Link</a>
  </p>
</div>