<h3>GGUA</h3>

<br>

<p>Hier finden Sie eine Zusammenstellung aktualisierter Arbeitshilfen und tabellarischer Übersichten zu den Zugängen und Leistungsansprüchen für Geduldete und Gestattete:</p>

<ul>
  <li class="small"><a href="http://www.einwanderer.net/fileadmin/downloads/tabellen_und_uebersichten/Zugang_zu_Arbeit_mit_Duldung_November_2014.pdf">Arbeitshilfe: Zugang zur Beschäftigung mit Duldung und Aufenthaltsgestattung (August 2016) (mit Übersicht der Regionen ohne und mit Vorrangprüfung - Dank an Timmo Scherenberg und Georg Classen für die Zusammenstellung)</a><br></li>
  <li class="small"><a href="">Arbeitshilfe: Erfordernis einer Arbeitserlaubnis und einer Zustimmung durch die BA bei Praktika für Personen mit Aufenthaltsgestattung und Duldung (August 2016)</a></li>
</ul>

<br><br>

<p>sowie hier speziell Asylsuchende (Gestattung, BüMA / Ankunftsnachweis):</p>

<ul>
  <li class="small"><a href="">Übersicht: Zugang zur Ausbildungsförderung für Asylsuchende (August 2016)</a><br></li>
  <li class="small"><a href="">Übersicht: Zugang zum Arbeitsmarkt und zur Arbeitsförderung für Asylsuchende (August 2016)</a><br></li>
  <li class="small"><a href="">Übersicht: Zugang zu Sprachförderung für Asylsuchende (August 2016)</a><br></li>
  <li class="small"><a href="">Übersicht: Duldung für die Ausbildung (August 2016)</a><br></li>
  <li class="small"><a href="">Übersicht: Zugang zu Freiwilligendiensten, Arbeitsgelegenheiten und Studium für Asylsuchende (August 2016) </a></li>
</ul>

<br><br><br>

<div>Claudius Voigt</div>