.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.clear-both {
  clear: both;
}
.content {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
.home {
  height: 100%;
  width: 100%;
}
.logo {
  margin-top: 20px;
  margin-left: 5px;
  margin-bottom: -20px;
  height: 50px;
  width: 50px;
}
.logo .image {
  height: 100%;
  width: 100%;
}
.footer {
  margin-top: 50px;
  width: 100%;
}
.footer .top {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 45px;
  background-color: #ecf0f1;
}
.footer .bottom {
  clear: both;
  padding: 50px 15px 30px 15px;
  background-color: #34495e;
}
.footer .socialize {
  float: right;
}
.footer .links {
  float: right;
}
.footer .links a {
  color: white;
  margin-left: 10px;
}
.footer .links a:first-child {
  margin-left: 0px;
}
.footer .copyright {
  float: left;
  color: #f1c40f;
}
.footer .copyright a {
  color: white;
}
.mosaic a {
  color: white;
}
.mosaic a:hover {
  text-decoration: none;
}
.mosaic-news {
  background-color: #3498db;
}
.mosaic-about {
  background-color: #e67e22;
}
.mosaic-projects {
  background-color: #e74c3c;
}
.mosaic-infos {
  background-color: #1abc9c;
}
.mosaic-contact {
  background-color: #9b59b6;
}
#mapid {
  height: 200px;
  width: 100%;
}
@media screen and (max-width: 540px) {
  .mosaic {
    height: 320px;
  }
  .mosaic .fields {
    height: 100%;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  .mosaic .fields .field {
    width: 100%;
  }
  .mosaic .fields .field .button {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 30px;
  }
  .mosaic .fields .field .button .caption {
    padding: 3px 10px 4px 10px;
  }
  .mosaic .fields .field .button:hover {
    background-color: rgba(30, 30, 30, 0.2);
  }
  .mosaic .fields .left .top {
    height: 64px;
  }
  .mosaic .fields .left .bottom {
    height: 64px;
    border-top: 1px solid black;
  }
  .mosaic .fields .right .top {
    height: 64px;
    border-top: 1px solid black;
  }
  .mosaic .fields .right .middle {
    height: 64px;
    border-top: 1px solid black;
  }
  .mosaic .fields .right .bottom {
    height: 64px;
    border-top: 1px solid black;
  }
}
@media screen and (min-width: 541px) and (max-width: 1000px) {
  .mosaic {
    margin: 0px;
    padding: 0px;
    margin-left: -15px;
    margin-right: -15px;
    height: 300px;
    width: 100%;
  }
  .mosaic .background-img {
    margin-left: 15px;
    padding: 0px;
    height: 100%;
    width: 100%;
    z-index: -100;
  }
  .mosaic .background-img .image {
    background-image: url('../assets/images/werne_xl.jpg');
    background-size: 100% auto;
    background-position: 0px 0px;
    background-attachment: local;
    background-repeat: no-repeat;
    position: relative;
    height: 300px;
    width: 100%;
  }
  .mosaic .fields {
    float: left;
    margin-left: 15px;
    top: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
  }
  .mosaic .fields .field {
    float: left;
    height: 300px;
    width: 50%;
  }
  .mosaic .fields .field .button {
    padding-top: 25px;
    padding-left: 40px;
    font-size: 30px;
  }
  .mosaic .fields .field .button .caption {
    padding: 3px 10px 4px 10px;
  }
  .mosaic .fields .field .button:hover {
    background-color: rgba(30, 30, 30, 0.2);
  }
  .mosaic .fields .left {
    border-right: 1px solid white;
  }
  .mosaic .fields .left .top {
    height: 150px;
    border-bottom: 1px solid white;
  }
  .mosaic .fields .left .bottom {
    height: 150px;
  }
  .mosaic .fields .right .top {
    height: 112.5px;
    border-bottom: 1px solid white;
  }
  .mosaic .fields .right .middle {
    height: 112.5px;
    border-bottom: 1px solid white;
  }
  .mosaic .fields .right .bottom {
    padding-top: 17px;
    height: 75px;
  }
}
@media screen and (min-width: 1001px) {
  .mosaic {
    margin: 0px;
    padding: 0px;
    margin-left: -15px;
    margin-right: -15px;
    width: 100%;
  }
  .mosaic .background-img {
    margin-left: 15px;
    padding: 0px;
    height: 100%;
    width: 100%;
    z-index: -100;
  }
  .mosaic .background-img .image {
    background-image: url('../assets/images/werne_xl.jpg');
    background-size: 100% auto;
    background-position: 0px 0px;
    background-attachment: local;
    background-repeat: no-repeat;
    position: relative;
    height: 314px;
    width: 100%;
  }
  .mosaic .fields {
    float: left;
    margin-left: 15px;
    top: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
  }
  .mosaic .fields .field {
    float: left;
    height: 314px;
    width: 50%;
  }
  .mosaic .fields .field .button {
    padding-top: 25px;
    padding-left: 40px;
    font-size: 30px;
  }
  .mosaic .fields .field .button .caption {
    padding: 3px 10px 4px 10px;
  }
  .mosaic .fields .field .button:hover {
    background-color: rgba(30, 30, 30, 0.2);
  }
  .mosaic .fields .left {
    border-right: 1px solid white;
  }
  .mosaic .fields .left .top {
    height: 157px;
    border-bottom: 1px solid white;
  }
  .mosaic .fields .left .bottom {
    height: 157px;
  }
  .mosaic .fields .right .top {
    height: 117.75px;
    border-bottom: 1px solid white;
  }
  .mosaic .fields .right .middle {
    height: 117.75px;
    border-bottom: 1px solid white;
  }
  .mosaic .fields .right .bottom {
    padding-top: 17px;
    height: 78.5px;
  }
  .mosaic .news {
    background-color: #3498db;
  }
  .mosaic .about {
    background-color: #e67e22;
  }
  .mosaic .projects {
    background-color: #e74c3c;
  }
  .mosaic .infos {
    background-color: #1abc9c;
  }
  .mosaic .contact {
    background-color: #9b59b6;
  }
  .footer .top {
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 55px;
  }
  .footer .bottom {
    padding: 60px 25px 40px 25px;
  }
  .footer .links {
    font-size: 14pt;
  }
  .footer .copyright {
    font-size: 14pt;
  }
}
