extends layouts/pagelayout.pug

block title
  title AGF&nbsp;Werne&nbsp;e.&nbsp;V. - &Uuml;ber uns

block content
  // about
  p &Uuml;ber uns
  //- abbr(title="Barrierefreie Informationstechnik-Verordnung") BITV
  a(href="index.html") zur&uuml;ck zur Startseite
  // / about