extends layouts/pagelayout.pug

block title
  title AGF&nbsp;Werne&nbsp;e.&nbsp;V. - B-Treff

block content
  // contact
  nav(aria-label="breadcrumb")
    ol.breadcrumb
      li.breadcrumb-item
        a(href="index.html") Startseite
      li.breadcrumb-item.active(aria-current="page") B-Treff
  // / contact