extends layouts/two_columns.pug

block title
  title AGF&nbsp;Werne&nbsp;e.&nbsp;V. - B-Treff

block content
  // contact
  nav(aria-label="breadcrumb")
    ol.breadcrumb
      li.breadcrumb-item
        a(href="index.html") Startseite
      li.breadcrumb-item.active(aria-current="page") Kontakt
  div.jumbotron.jumbotron-fluid.jumbotron-with-bg
    div.container.p-5
      div.row
        div.col
          div.pt-5.pb-5
            div <strong>Arbeitsgemeinschaft Fl&uuml;chtlinge Werne e.V.</strong>
            div Burgstraße 22
            div 59368 Werne
            div <abbr title="Phone">Tel:</abbr> <a href="tel:+4923899245582">(+2389) 9245582</a>
            div <abbr title="Email">E-Mail:</abbr> <a href="mailto:agfwerne@gmx.de">agfwerne@gmx.de</a> 
        div.col.d-flex.align-items-end
          div.pt-5.pb-5
            div Öffnungszeiten:
            div Montag bis Donnerstag
            div 14.00 – 16.00 Uhr
  h1 B-Treff
  p Besuchen Sie uns doch einfach im <i>B-Treff</i>, unserem Büro in der Burgstraße.         
  div.embed-responsive.embed-responsive-21by9
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2474.79270306946!2d7.630288515708973!3d51.66363167966106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b90c3c8df7e607%3A0xfe95b6c922aedf16!2sBurgstra%C3%9Fe+22%2C+59368+Werne!5e0!3m2!1sde!2sde!4v1493556754021", frameborder="0", style="border:0", allowfullscreen)
  h2 Belegungsplan
  div.table-responsive
    table.table.table-bordered
      theader
        tr
          th Zeitraum
          th Montag
          th Dienstag
          th Mittwoch
          th Donnerstag
          th Freitag
      tbody
        tr
          td 09.00 - 11.00 Uhr
          td Deutschkurse für Frauen<br /><b>Monika Meyer u.a.</b>
          td 
          td 
          td Deutschkurse für Frauen<br /><b>Monika Meyer u.a.</b>
          td 
        tr
          td(rowspan="3") 14:00 - 16:00 Uhr
          td <b>Andrea Calovini</b><br><b>Pia Schniedergers</b>
          td <b>Kerstin Ludwig</b><br /><b>H. Steiger o. U. Rinnen</b>
          td <b>Ulla Rinnen</b><br><b>Hermann Steiger</b>
          td <b>Kerstin Ludwig</b><br /><b>H. Steiger o. U. Rinnen</b>
          td 
        tr
          td <b>Herr Schulten</b><br>DRK L&uuml;nen
          td <b>Herr Niebuhr</b><br>Stadt Werne
          td <b>Herr Niebuhr</b><br>Stadt Werne
          td <b>Herr Schulten</b><br>DRK Lünen
          td 
        tr
          td 
          td 
          td 
          td <b>Frau Heiduck</b><br>Hebamme
          td 
        tr
          td 16:15 - 18:00
          td 
          td 
          td 
          td 
          td Gespr&auml;chskreis<br />Hilke D&auml;hlmann<br />Heineken
        tr
          td 18:00 - 19:30
          td 
          td Arabisch<br><b>Jawad Ramadan</b>
          td 
          td 
          td
  // / contact