extends layouts/pagelayout.pug

block title
  title AGF&nbsp;Werne&nbsp;e.&nbsp;V. - B-Treff

block content
  // contact
  p B-Treff
  //- abbr(title="Barrierefreie Informationstechnik-Verordnung") BITV
  a(href="index.html") zur&uuml;ck zur Startseite
  // / contact