extends layouts/pagelayout.pug

block title
  title AGF&nbsp;Werne&nbsp;e.&nbsp;V. - Startseite

block content
  // index
  p Startseite
  //- abbr(title="Barrierefreie Informationstechnik-Verordnung") BITV
  // / index