extends layouts/pagelayout.pug

block title
  title AGF&nbsp;Werne&nbsp;e.&nbsp;V. - Infos

block content
  // infos
  nav(aria-label="breadcrumb")
    ol.breadcrumb
      li.breadcrumb-item
        a(href="index.html") Startseite
      li.breadcrumb-item.active(aria-current="page") Infos
  // / infos