extends layouts/pagelayout.pug

block title
  title AGF&nbsp;Werne&nbsp;e.&nbsp;V. - Infos

block content
  // infos
  p Infos
  //- abbr(title="Barrierefreie Informationstechnik-Verordnung") BITV
  a(href="index.html") zur&uuml;ck zur Startseite
  // / infos