extends layouts/pagelayout.pug

block title
  title AGF&nbsp;Werne&nbsp;e.&nbsp;V. - Impressum

block content
  // legal
  p Impressum
  //- abbr(title="Barrierefreie Informationstechnik-Verordnung") BITV
  a(href="index.html") zur&uuml;ck zur Startseite
  // / legal