extends layouts/pagelayout.pug

block title
  title AGF&nbsp;Werne&nbsp;e.&nbsp;V. - Projekte

block content
  // projects
  p Projekte
  //- abbr(title="Barrierefreie Informationstechnik-Verordnung") BITV
  a(href="index.html") zur&uuml;ck zur Startseite
  // / projects