<navigation></navigation>

<div class="content legal pos-rel">
  <div class="container">
    <div class="page-header">
      <h1>Impressum</h1>
    </div>

    <address>
      <strong>Arbeitsgemeinschaft Fl&uuml;chtlinge Werne e.V.</strong><br>
      Burgstraße 22<br>
      59368 Werne
    </address>

    <address>
      Amtsgericht Dortmund<br>
      Vereinsregister: 7096
    </address>

    <address>
      <abbr title="Phone">Tel:</abbr> (02389) xxxxxxx<br>
      <abbr title="Email">E-Mail:</abbr> <a href="mailto:agfwerne@gmx.de">agfwerne@gmx.de</a>
    </address>

    <address>
      <strong>Gesch&auml;ftsf&uuml;hrender Vorstand:</strong><br>
      Ulla Rinnen<br>
      Hermann Steiger<br>
      Mohammed Amer
    </address>
  </div>
</div>

<agf-footer></agf-footer>