<agf-navigation></agf-navigation>

<div class="content legal pos-rel">
  <div class="container">
    <div class="page-header">
      <h1>Impressum</h1>
    </div>

    <address>
      <strong>Arbeitsgemeinschaft Fl&uuml;chtlinge Werne e.V.</strong><br>
      Burgstraße 22<br>
      59368 Werne
    </address>

    <address>
      Amtsgericht Dortmund<br>
      Vereinsregister: 7096
    </address>

    <address>
      <strong>Spendenkonto:</strong><br>
      Sparkasse an der Lippe<br>
      BIC: WELADED1LUN<br>
      IBAN: DE 75 4415 2370 0000 7424 60
    </address>

    <address>
      <abbr title="Phone">Tel:</abbr> (02389) 9245582<br>
      <abbr title="Email">E-Mail:</abbr> <a href="mailto:agfwerne@gmx.de">agfwerne@gmx.de</a>
    </address>

    <address>
      <strong>Gesch&auml;ftsf&uuml;hrender Vorstand:</strong><br>
      Dr. Hermann Steiger<br>
      Mohammed Amer<br>
      Ursula Rinnen
    </address>
  </div>
</div>

<agf-footer></agf-footer>