<navigation></navigation>

<div class="content projects">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="page-header">
          <h1>Derzeitige Projekte</h1>
        </div>
        <div>
          <h3>Aktuelles Projekt 1</h3>
          <p>Iure non dolores porro, ex dignissimos officiis vitae. Quo eligendi labore earum quisquam atque incidunt quam qui.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat atque facilis vitae corrupti. Iure non dolores porro, ex dignissimos officiis vitae. Quo eligendi labore earum quisquam atque incidunt quam qui.</p>
          <br>

          <h3>Aktuelles Projekt 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat atque facilis vitae corrupti. Iure non dolores porro, ex dignissimos officiis vitae.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat atque facilis vitae corrupti. Iure non dolores porro, ex dignissimos officiis vitae. Quo eligendi labore earum quisquam atque incidunt quam qui.</p>
          <p>Fugiat atque facilis vitae corrupti. Iure non dolores porro, ex dignissimos officiis vitae. Quo eligendi labore earum quisquam atque incidunt quam qui.</p>
          <br>

          <h3>Aktuelles Projekt 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat atque facilis vitae corrupti. Iure non dolores porro, ex dignissimos officiis vitae. Quo eligendi labore earum quisquam atque incidunt quam qui.</p>
        </div>
      </div>
      <div class="col-sm-2 .col-sm-offset-1">
        <div class="menu">
          <ul>
            <li><a href="#/projects">Aktuelle Projekte</a></li>
            <li><a href="#/classes">Sprachkurse</a></li>
            <li><a href="#/cafe">Frauen-Café</a></li>
            <li><a href="#/care">Betreuung</a></li>
            <li><a href="#/garage">Fahrradwerkstatt</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<footer></footer>