<div class="page-header">
  <h1>Deutschunterricht</h1>
</div>

<br>

<p>Die Erteilung von Deutschunterricht, verbunden mit der Finanzierung der Unterrichtsmittel für die Teilnehmer, war von Anfang an, bereits lange vor der Gründung des Vereins, eine der Kernzielsetzungen der AGF Werne e.V.</p>
<p>Schon seit 2014 unterrichteten in Werne ehrenamtliche Lehrkräfte Deutsch in den Flüchtlingsunterkünften, meist unter räumlich beengten und ungünstigen äußeren Bedingungen.</p>
<p>Im April 2015 konnten dann endlich in Zusammenarbeit mit der VHS Werne die ersten vier ehrenamtlichen Deutschkurse auf unterschiedlichen Niveaus mit jeweils zwei wöchentlichen Kursterminen in der Marga-Spiegel-Schule starten, es standen zum ersten Mal richtige Klassenräume mit geeigneter Ausstattung zur Verfügung. Ab Herbst 2015 wuchsen im Zuge des Andrangs einer großen Zahl von Flüchtlingen die Teilnehmerzahlen sehr stark an, und bis zum Sommer 2016 gab es neben den ursprünglichen in 2015 begonnenen Kursen zeitweise sechs weitere Kurse im Alfabetisierungs-, Anfänger- und Fortgeschrittenenbereich mit jeweils 4 wöchentlichen Terminen und insgesamt ca. 150 TeilnehmerInnen, die alle von einem Kollegium aus ca. 20-25 ehrenamtlichen KursleiterInnen abgedeckt wurden. Neben der Marga-Spiegel-Schule stellten in den Schulferien auch das Juwel und das Freiherr-vom-Stein-Berufskolleg Räumlichkeiten zur Verfügung, so dass nahezu die ganze Zeit über kontinuierlich unterrichtet werden konnte.</p>
<p>Seit August 2016 findet der Deutschunterricht in der Barbaraschule statt. Zur Zeit laufen neben dem offiziellen Integrationskurs der VHS Werne ein 100-Stunden-Kurs mit Förderung durch das Land NRW sowie vier ehrenamtliche Kurse, ein Alfabetisierungskurs, ein reiner Anfängerkurs, ein Kurs für fortgeschrittene Anfänger und ein Fortgeschrittenenkurs auf Niveau A2. Diese Kurse finden jeweils von Montag bis Donnerstag in der Zeit von 16:30 – 18:00 Uhr statt, neue TeilnehmerInnen können jederzeit hinzukommen und eingegliedert werden. Dank der zur Verfügung stehenden Räume und der Flexibilität des Kollegiums könnten durchaus weitere Kurse gebildet werden, auch neue ehrenamtliche Lehrkräfte sind jederzeit willkommen. </p>

<h2>Deutschkurse</h2>

<hr>

<h4>Kurse in der Barbaraschule (AGF Werne)</h4>

<div class="table-responsive" style="white-space: nowrap;">
  <table class="table table-bordered small">
    <theader>
      <tr>
        <th>Kurs</th>
        <th>Zeit</th>
        <th>Raum</th>
        <th>Montag</th>
        <th>Dienstag</th>
        <th>Mittwoch</th>
        <th>Donnerstag</th>
        <th>Teilnehmer</th>
      </tr>
    </theader>
    <tbody>
      <tr>
        <td>
          Alfabetisierung<br>Forts. 100 h Kurs
        </td>
        <td>
          9.00 - 12.00 Uhr
        </td>
        <td></td>
        <td>Hilke<br>Dählmann-Heineke</td>
        <td>Hilke<br>Dählmann-Heineke</td>
        <td>Hilke<br>Dählmann-Heineke</td>
        <td></td>
        <td>ca. 12 TN</td>
      </tr>
      <tr>
        <td>
          Mitte A1
        </td>
        <td>
          16.30 - 18.00 Uhr
        </td>
        <td></td>
        <td>Annette Maru</td>
        <td>Werner Scholz</td>
        <td>Manuela Eisenbach</td>
        <td>Gerd Heising</td>
        <td>ca. 15 TN</td>
      </tr>
      <tr>
        <td>
          Ende A2
        </td>
        <td>
          16.30 - 18.00 Uhr
        </td>
        <td></td>
        <td>Hilke<br>Dählmann-Heineke</td>
        <td>Heike Auel</td>
        <td>Ingrig Spiekermann</td>
        <td>Andrea Calovini</td>
        <td>ca. 8 TN</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive" style="white-space: nowrap;">
  <table class="table table-bordered small">
    <theader>
      <tr>
        <th>Kurs</th>
        <th>Zeit</th>
        <th>Raum</th>
        <th>Montag</th>
        <th>Dienstag</th>
        <th>Mittwoch</th>
        <th>Donnerstag</th>
        <th>Teilnehmer</th>
      </tr>
    </theader>
    <tbody>
      <tr>
        <td>
          absolute<br>Anfängerinnen
        </td>
        <td>
          9.00 - 11.00 Uhr
        </td>
        <td></td>
        <td></td>
        <td>Thekla Dahmen</td>
        <td></td>
        <td>Thekla Dahmen</td>
        <td>ca. 8 TN</td>
      </tr>
      <tr>
        <td>
          Berliner Platz<br>Lektion 6 
        </td>
        <td>
          9.00 - 11.00 Uhr
        </td>
        <td></td>
        <td></td>
        <td>Monika Meyer</td>
        <td></td>
        <td>Monika Meyer</td>
        <td>ca. 9 TN</td>
      </tr>
      <tr>
        <td>
          Ende A1
        </td>
        <td>
          9.00 - 11.00 Uhr
        </td>
        <td></td>
        <td></td>
        <td>Mechthild Weise</td>
        <td></td>
        <td>Mechthild Weise</td>
        <td>ca. 4 TN</td>
      </tr>
      <tr>
        <td>
          Fortsetzung der<br>Alfabetisierung
        </td>
        <td>
          9.00 - 11.15 Uhr
        </td>
        <td></td>
        <td></td>
        <td>Magdalena<br>Wittkop-Kühn</td>
        <td></td>
        <td>Magdalena<br>Wittkop-Kühn</td>
        <td>2 TN</td>
      </tr>
    </tbody>
  </table>
</div>

<br>

<h4>Kurse VHS Werne</h4>

<div class="table-responsive" style="white-space: nowrap;">
  <table class="table table-bordered small">
    <theader>
      <tr>
        <th>Kurs</th>
        <th>Zeit</th>
        <th>Raum</th>
        <th>Montag</th>
        <th>Dienstag</th>
        <th>Mittwoch</th>
        <th>Donnerstag</th>
        <th>Freitag</th>
      </tr>
    </theader>
    <tbody>
      <tr>
        <td>
          Integrationskurs A1
        </td>
        <td>
          8.45-13.00 Uhr
        </td>
        <td></td>
        <td>Bianca Bartsch</td>
        <td>Bianca Bartsch</td>
        <td>Bianca Bartsch</td>
        <td>Bianca Bartsch</td>
        <td>Bianca Bartsch</td>
      </tr>
      <tr>
        <td>
          100 Stunden Kurs A1
        </td>
        <td>
          9.00-11.15 Uhr
        </td>
        <td></td>
        <td>Edi Herwig</td>
        <td>Edi Herwig</td>
        <td>Edi Herwig</td>
        <td>Edi Herwig</td>
        <td>Edi Herwig</td>
      </tr>
    </tbody>
  </table>
</div>