<div class=page-header>
  <h1>Unsere Projekte</h1>
</div>

<!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam maxime suscipit laudantium quos, quam aliquam inventore commodi iste soluta distinctio et excepturi nobis odio culpa quas autem aut odit quod! -->

<p>Die Arbeitsgemeinschaft unterstützt die Flüchtlinge bei der Integration durch viele verschiedene Projekte. Dazu gehören neben dem regulären Deutschunterricht und der Begleitung der Flüchtlinge zu Behörden, unter anderem folgende:</p>
<p>Der Deutschunterricht für Frauen, die Fahrradwerkstatt, das Frauen-Café sowie die Integration in die Arbeitswelt.</p>

<br><br><br><br><br>

<div class="association">
    <span class="small">Mit Unterstützung von</span>
    <a href="http://www.kfi.nrw.de/Foerderprogramme/KOMM-AN-NRW/"><img style="width: 30px;" src="assets/images/komm-an_logo.jpg"></a>&nbsp;&nbsp;<span class="small">, eine Initiative des </span><a href=""><img style="width: 120px;" src="assets/images/mais-logo.png"></a>
    <!-- <p class="small">Räumlichkeiten und Sprachkurse gefördert mit Landesmitteln des Bundesamts für Arbeit, Integration und Soziales.</p> -->
</div>