<agf-navigation></agf-navigation>

<div class="content projects">
  <div class="container">

    <div class="row">
      <div class="col-xs-9">
        <div ng-include="$ctrl.content"></div>
      </div>

      <div class="col-xs-3">
        <br><br><br><br><br><br>

        <ul>
          <li><a href="#/projects?womanclasses">Deutschunterricht für Frauen</a></li>
          <li><a href="#/projects?workintegration">„Integration in die Arbeitswelt“</a></li>
          <li><a href="#/projects?womancafe">Frauen-Café</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<agf-footer></agf-footer>