<div class="page-header">
  <h1>Kaffeetrinken für Flüchtlingsfrauen</h1>
</div>

<img src="assets/images/frauen_cafe.png" class="img-responsive" alt="Fahrradwerkstatt">

<br>

<p>
  <b>Das Kaffeetrinken für Flüchtlingsfrauen</b> hat die AGF in Zusammenarbeit mit dem WSC im Februar 2015 ins Leben gerufen. Monatlich bieten wir den Frauen damit die Möglichkeit, sich untereinander und mit  ihren deutschen Betreuerinnen in zwangloser Atmosphäre zu unterhalten, neue Bekanntschaften zu machen und dabei auch die  erworbenen Deutschkenntnisse zu testen. Seit Juli 2016 findet das Treffen im B-Treff in der Burgstraße statt.
</p>