<div class="page-header">
  <h1>„Integration in die Arbeitswelt“</h1>
</div>

<p>
  <b>Der Arbeitskreis „Integration in die Arbeitswelt“</b> hat sich zum  Ziel gesetzt, möglichst vielen Flüchtlingen den deutschen Arbeitsalltag näher zu bringen.
</p>
<p>
  Wir versuchen Hospitations- und Praktikumsplätze zu finden, so dass interessierte Asylbewerber mit Grundkenntnissen in der deutschen Sprache einen Einblick in die Strukturen und Abläufe in Firmen, Läden oder Büros bekommen. Dabei arbeiten wir mit dem Integration-Point und der Ausländerbehörde zusammen.
</p>