
<table class="table table-bordered">
  <theader>
    <tr>
      <th>Zeitraum</th>
      <th>Montag</th>
      <th>Dienstag</th>
      <th>Mittwoch</th>
      <th>Donnerstag</th>
      <th>Freitag</th>
      <th>Samstag</th>
      <th>Sonntag</th>
    </tr>
  </theader>
  <tbody>
    <tr>
      <td>
        8.45 - 11.00 Uh
      </td>
      <td>Deutschkurs<br>Bianca Bartsch<br>9037220</td>
      <td>Deutschkurs<br>Bianca Bartsch<br>9037220</td>
      <td>Deutschkurs<br>Bianca Bartsch<br>9037220</td>
      <td>Deutschkurs<br>Bianca Bartsch<br>9037220</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>
        11.00 - 12.30 Uhr
      </td>
      <td>Deutschkurs     Mareike Muzdalo 0176 41754070</td>
      <td>Deutschkurs     Mareike Muzdalo 0176 41754070</td>
      <td>Deutschkurs</td>
      <td>Deutschkurs</td>
      <td></td>
      <td></td>
      <td>10.00 - 12.00 Arabischkurs       Jawad Ramadan </td>
    </tr>
    <tr>
      <td>
        14.30 - 16.30 Uhr
      </td>
      <td>Monika / Arbeit,<br>Sprachtests<br>Ulla / Formulare,<br>Anschreiben</td>
      <td>Kerstin / Wohnungen, Internet usw.</td>
      <td>H. Steiger / alles      Ulla / Formulare, Anschreiben</td>
      <td>Kerstin /Wohnungen, Internet usw.             Hr. Korte </td>
      <td>Kerstin / Wohnungen, Internet usw.</td>
      <td>16.00-18.00 Arabischkurs        Jawad Ramadan 015750305762</td>
      <td></td>
    </tr>
    <tr>
      <td>14.15-17.00</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Herr Niebuhr                     14-tägig</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>