<agf-navigation></agf-navigation>

<div class="content projects">
  <div class="container">

    <div class="row">
      <div class="col-xs-9">
        <div class="page-header">
          <h1>Derzeitige Projekte</h1>
        </div>

        <div ng-bind-html="$ctrl.content"></div>
      </div>

      <div class="col-xs-3">
        <br><br><br><br><br><br>

        <ul>
          <li><a href="#/projects">Aktuelle Projekte</a></li>
          <li><a href="#/projects?course">Deutschhkurse</a></li>
          <li><a href="#/projects?cafe">Frauen-Café</a></li>
          <li><a href="#/projects?garage">Fahrradwerkstatt</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<agf-footer></agf-footer>