<div class="page-header">
  <h1>Deutschunterricht für Frauen</h1>
</div>

<p>
  <b>Der Deutschunterricht für Frauen</b> findet seit Februar 2015 zwei Mal wöchentlich vormittags statt. Seit Juli 2016 sind im B-Treff die Räume so ausgestattet worden, dass seitdem dort der Unterricht stattfinden kann.
</p>
<p>
  Wir bieten 3 Kurse an: einen Alfabetisierungskurs, einen für Sprachanfängerinnen und den dritten für Anfängerinnen mit geringen Vorkenntnissen.
</p>
<p>
  Das Interesse der Frauen an der Sprache ist ebenso groß wie das der Männer, weil aber die Betreuung der Kinder in der Regel nur in den Händen der Frauen liegt, bieten wir diese Kurse nicht nur zu anderen Zeiten an sondern auch mit der Möglichkeit, kleine Kinder im Kinderwagen mitzubringen. Seit Juli 2016 können zur gleichen Zeit die etwas größeren Kinder (im Alter von 1 -6) in der „Löwenburg“, dem Kindergarten für Flüchtlingskinder, betreut werden, so dass die Mütter sich ganz auf den Unterricht konzentrieren können.
</p>