<agf-navigation></agf-navigation>

<div class="content projects">
  <div class="container">
    <div class="page-header">
      <h1>Derzeitige Projekte</h1>
    </div>
    <div>
      <h3>Aktuelles Projekt 1</h3>
      <p>Iure non dolores porro, ex dignissimos officiis vitae. Quo eligendi labore earum quisquam atque incidunt quam qui.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat atque facilis vitae corrupti. Iure non dolores porro, ex dignissimos officiis vitae. Quo eligendi labore earum quisquam atque incidunt quam qui.</p>
      <br>

      <h3>Aktuelles Projekt 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat atque facilis vitae corrupti. Iure non dolores porro, ex dignissimos officiis vitae.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat atque facilis vitae corrupti. Iure non dolores porro, ex dignissimos officiis vitae. Quo eligendi labore earum quisquam atque incidunt quam qui.</p>
      <p>Fugiat atque facilis vitae corrupti. Iure non dolores porro, ex dignissimos officiis vitae. Quo eligendi labore earum quisquam atque incidunt quam qui.</p>
      <br>

      <h3>Aktuelles Projekt 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat atque facilis vitae corrupti. Iure non dolores porro, ex dignissimos officiis vitae. Quo eligendi labore earum quisquam atque incidunt quam qui.</p>
    </div>
  </div>
</div>

<agf-footer></agf-footer>