<div class="content home pos-rel">
  <div class="container">

    <div class="row">
      <div class="col-xs-2">
        <div class="logo">
          <a href="http://www.agf-werne.de">
            <img class="image" src="assets/images/agf-logo.01.png">
          </a>
        </div>
      </div>
      <div class="col-xs-10">
        <h2>Arbeitsgemeinschaft Fl&uuml;chtlinge Werne e.V.</h2>

        <p class="lead">
          Hallo und herzlich willkommen auf unserer Webseite!
        </p>
      </div>
    </div>
  </div>

  <br>

  <agf-mosaic></agf-mosaic>

  <br><br>

  <div class="container">

    <div class="row">
      <div class="col-md-6">

        <h3 class="text-primary">H&auml;ufig gesucht</h3>
        <hr>

        <div class="row">
          <div class="col-md-6">
            <ul>
              <li><a href="#/about?structure">Vereinsstruktur</a></li>
              <li><a href="http://agf-werne.de/assets/files/agf-werne-flyer.pdf" target="_blank">AGF-Flyer f&uuml;r Fl&uuml;chtlinge</a></li>
              <li><a href="#/infos?ggua">Infos zur GGUA</a></li>
            </ul>
          </div>
        </div>

        <br>

        <h3 class="text-primary">Aktuelles</h3>
        <hr>

        <br>

        <div>
          <h4>Das B-Treff ist in den Osterferien (mit Ausnahmen) geschlossen</h4>
          <p>
            <blockquote>
              <p>
                In den Osterferien (10.4.17 - 21.4.17) bleibt das Büro im B-Treff geschlossen. Für dringende Anliegen öffnen wir am Montag, den 10.4. und am Mittwoch, den 19.4.17 zu den üblichen Zeiten.
              </p>
              <footer>09.04.2017 - <cite title="Source Title">Anne</cite></footer>
            </blockquote>
          </p>
        </div>

        <br><br>

        <div>
          <h4>Aufnahmeantrag und Flyer</h4>
          <p>
            <blockquote>
              <p>Unser <a href="http://agf-werne.de/assets/files/aufnahmeantrag-agfwerne.20170402.pdf" target="_blank">Aufnahmeantrag</a> ist nun etwas schlanker und im Info-Bereich haben wir ein paar neue <a href="http://localhost:3000/#/infos">Flyer</a> (Infoblatt &amp; Leitfaden).</p>
              <footer>02.04.2017 - <cite title="Source Title">Danilo</cite></footer>
            </blockquote>
          </p>
        </div>

        <br><br>

        <div>
          <h4>Monatliche Sitzung des erweiterten Vorstands</h4>
          <p>
            <blockquote>
              <p>Die Sitzung findet am 27.3.2017 um 18.15 Uhr statt und ist offen für alle - wir würden uns sehr über eine rege Teilnahme freuen.</p>
              <footer>23.03.2017 - <cite title="Source Title">Danilo</cite></footer>
            </blockquote>
          </p>
        </div>

      </div>

      <div class="col-md-6">

      <h3 class="text-primary">Veranstaltungen &amp; Termine</h3>
      <hr>

    <iframe
      src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=400&amp;wkst=2&amp;hl=de&amp;bgcolor=%23ffffff&amp;src=agfwernecalender%40gmail.com&amp;color=%231B887A&amp;ctz=Europe%2FBerlin"
      style="border-width:0"
      width="600"
      height="400"
      frameborder="0"
      scrolling="no">
    </iframe>

        <br>

        <br>

      <h3 class="text-primary">Folge uns auf Facebook</h3>
      <hr>

        <iframe
          src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fagfwerne&height=1000&width=400&colorscheme=light&show_faces=true&border_color&stream=true&header=true"
          scrolling="yes"
          style="border:none; overflow:hidden; width:400px; height:400px; background: white; float:left;"
          allowtransparency="true"
          frameborder="0">
        </iframe>
      </div>
    </div>

  </div>

  <br>
  <br>

  <div class="container">

  </div>
</div>

<agf-footer></agf-footer>