<div class="content home pos-rel">
  <div class="container">
    <div class="logo">
      <!-- <a href="http://www.agf-werne.de">
        <img class="image" src="assets/images/agf-logo.png">
      </a> -->
    </div>

    <h2>Arbeitsgemeinschaft Fl&uuml;chtlinge Werne e.V.</h2>

    <p class="lead">
      Hallo und herzlich willkommen auf unserer Webseite!
    </p>
  </div>

  <br>

  <agf-mosaic></agf-mosaic>

  <br><br><br><br>

  <div class="container">

    <div class="row">
      <div class="col-xs-7">
        <h3 class="text-primary">Aktuelles</h3>
        <hr>

        <div>
          <div class="row">
            <div class="col-xs-12">
              <h4>Sitzung Arbeitskreis Vernetzung</h4>
            </div>
          </div>

          <br>

          <div>
            <div class="col-xs-12">
              <blockquote>
                <p>Der Arbeitskreis Vernetzung lädt am 07.07.2016 um 18:15 zur Sitzung, wie gewohnt im B-Treff. Alle Mitarbeiter und Interessierte sind herzlich eingeladen.</p>
                <footer>01.06.2016 - <cite title="Source Title">Anne</cite></footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-5">
        <iframe
          src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fagfwerne&height=1000&width=400&colorscheme=light&show_faces=true&border_color&stream=true&header=true"
          scrolling="yes"
          style="border:none; overflow:hidden; width:400px; height:1000px; background: white; float:left;"
          allowtransparency="true"
          frameborder="0">
        </iframe>
      </div>
    </div>

  </div>
</div>

<agf-footer></agf-footer>