<div class="content home pos-rel">
  <div class="container">

    <div class="row">
      <div class="col-xs-2">
        <div class="logo">
          <a href="http://www.agf-werne.de">
            <img class="image" src="assets/images/agf-logo.01.png">
          </a>
        </div>
      </div>
      <div class="col-xs-10">
        <h2>Arbeitsgemeinschaft Fl&uuml;chtlinge Werne e.V.</h2>

        <p class="lead">
          Hallo und herzlich willkommen auf unserer Webseite!
        </p>
      </div>
    </div>
  </div>

  <br>

  <agf-mosaic></agf-mosaic>

  <br><br><br><br>

  <div class="container">

    <div class="row">
      <div class="col-xs-7">
        <h3 class="text-primary">H&auml;ufig gesucht</h3>
        <hr>

        <div class="row">
          <div class="col-xs-6">
            <ul>
              <li><a href="#/about?structure">Vereinsstruktur</a></li>
              <li><a href="http://agf-werne.de/assets/files/agf-werne-flyer.pdf" target="_blank">AGF-Flyer f&uuml;r Fl&uuml;chtlinge</a></li>
              <li><a href="#/infos?ggua">Infos zur GGUA</a></li>
            </ul>
          </div>
          <div class="col-xs-6">
            
          </div>
        </div>

        <br><br><br>

        <h3 class="text-primary">Aktuelles</h3>
        <hr>

        <br>

        <div>
          <h4>Öffentliche Jahreshauptversammlung der Arbeitsgemeinschaft Flüchtlinge Werne e.V.</h4>

          <br>

          <p>
            <blockquote>
              <p>Alle Interessierten sind herzlich zur Teilnahme an unserer Jahreshauptversammlung am Montag, den 30 Januar um 19.00 Uhr, in die Cafeteria des Stadthauses eingeladen!</p>
              <footer>17.01.2017 - <cite title="Source Title">Danilo</cite></footer>
            </blockquote>
          </p>
        </div>

        <br><br>

        <div>
          <h4>B-Treff geht in den Urlaub</h4>

          <br>

          <p>
            <blockquote>
              <p>Das B&uuml;ro im B-Treff bleibt im Zeitraum vom 19.12.2016 bis zum 01.01.2017 geschlossen.</p>
              <footer>11.12.2016 - <cite title="Source Title">Anne</cite></footer>
            </blockquote>
          </p>
        </div>

        <br><br>

        <div>
          <h4>Sitzung des erweiterten Vorstands</h4>

          <br>

          <p>
            <blockquote>
              <p>Der erweiterte Vorstand trifft sich am Montag, den 28.11.2016 um 18.15 Uhr im B-Treff.</p>
              <footer>20.11.2016 - <cite title="Source Title">Danilo</cite></footer>
            </blockquote>
          </p>
        </div>

        <br><br>

        <div>
          <h4>Gesprächskreis für ehrenamtliche HelferInnen</h4>

          <br>

          <p>
            <blockquote>
              <p>Die Fabi (Familienbildungsst&auml;tte Werne) bietet vom 06.10. bis zum 08.12. einen Gesprächskreis für ehrenamtliche HelferInnen an. Weitere Informationen finden Sie <a href="http://www.fbs-werne.de/index.php?cat_id=8414&myELEMENT=232517&knr=Q2542-202&title=Gespr%C3%A4chskreis%20f%C3%BCr%20ehrenamtliche%20HelferInnen">hier</a>.</p>
              <footer>22.09.2016 - <cite title="Source Title">Danilo</cite></footer>
            </blockquote>
          </p>
        </div>

        <br><br>

        <div>
          <h4>Sitzung des erweiterten Vorstands</h4>

          <br>

          <p>
            <blockquote>
              <p>Am Montag, den 26.9.2016 findet in den Räumen des Be-Treffs um 18.15 Uhr eine Sitzung des erweiterten Vorstands statt. Wir möchten alle  MitstreiterInnen der AGF, die ein Anliegen haben oder sich für einen der Tagesordnungspunkte interessieren, einladen, daran teilzunehmen.</p>
              <footer>22.09.2016 - <cite title="Source Title">Anne</cite></footer>
            </blockquote>
          </p>
        </div>

        <br><br>

        <div>
          <h4>Sitzung Arbeitskreis Vernetzung</h4>

          <br>

          <p>
            <blockquote>
              <p>Der Arbeitskreis Vernetzung lädt am 07.07.2016 um 18:15 zur Sitzung, wie gewohnt im B-Treff. Alle Mitarbeiter und Interessierte sind herzlich eingeladen.</p>
              <footer>01.06.2016 - <cite title="Source Title">Anne</cite></footer>
            </blockquote>
          </p>
        </div>
      </div>
      <div class="col-xs-5">
        <iframe
          src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fagfwerne&height=1000&width=400&colorscheme=light&show_faces=true&border_color&stream=true&header=true"
          scrolling="yes"
          style="border:none; overflow:hidden; width:400px; height:1000px; background: white; float:left;"
          allowtransparency="true"
          frameborder="0">
        </iframe>
      </div>
    </div>

  </div>

  <br>
  <br>

  <div class="container">
    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=400&amp;wkst=2&amp;hl=de&amp;bgcolor=%23ffffff&amp;src=agfwernecalender%40gmail.com&amp;color=%231B887A&amp;ctz=Europe%2FBerlin" style="border-width:0" width="600" height="400" frameborder="0" scrolling="no"></iframe>
  </div>
</div>

<agf-footer></agf-footer>