<navigation></navigation>

<div class="content home">
  <div class="container">
    <div class="page-header">
      <h1>Home</h1>
    </div>
    
    <div class="row menu">
      <div class="col-sm-6">
        <div class="row">
          <div class="tile left">1.1</div>
        </div>
        <div class="row">
          <div class="tile left">1.2</div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="tile right">2.1</div>
        </div>
        <div class="row">
          <div class="tile right">2.2</div>
        </div>
        <div class="row">
          <div class="tile right">2.3</div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer></footer>