<!-- <navigation></navigation> -->

<div class="content home">
  <div class="container">
    <div class="page-header">
      <h1>Arbeitsgemeinschaft Fl&uuml;chtlinge Werne</h1>
    </div>
  </div>


  <div class="navnav">
    <div class="background">
      <img class="img" src="assets/images/werne.jpg">
    </div>

    <div class="buttons">
      <div class="left">
        <section class="top" ng-click="$ctrl.onClick('/home')">
          <span class="caption">Neuigkeiten</span>
        </section>
        <section class="bottom" ng-click="$ctrl.onClick('/about')">
          <span class="caption">&Uuml;ber uns</span>
        </section>
      </div>
      <div class="right">
        <div class="top" ng-click="$ctrl.onClick('/projects')">
          <span class="caption">Unsere Arbeit</span>
        </div>
        <div class="middle" ng-click="$ctrl.onClick('/care')">
          <span class="caption">Betreuung</span>
        </div>
        <div class="bottom" ng-click="$ctrl.onClick('/contact')">
          <span class="caption">Kontakt</span>
        </div>
      </div>
    </div>
  </div>

  <div style="clear: both;"></div>

  <br><br>

  <div class="container">
    <h2>Aktuelles</h2>
    <div>
      <h3>Überschrift 123</h3>
      <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FAGFWerne%2Fposts%2F996475007054382&width=500" width="500" height="218" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>

    <br>

    <div>
      <h3>Überschrift X Y</h3>
      <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FAGFWerne%2Fposts%2F988214954547054%3A0&width=500" width="500" height="724" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>

    <br>

    <div>
      <h3>Überschrift X Y</h3>
      <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FAGFWerne%2Fposts%2F969234269778456&width=500" width="500" height="495" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>
  </div>

</div>

<footer></footer>