<navigation></navigation>

<div class="content projects">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="page-header">
          <h1>Derzeitige Projekte</h1>
        </div>
        <div>
          <h3>Deutsch - Fortgeschritten <small>An dem Ort XYZ</small></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In expedita, explicabo architecto quaerat minus soluta nam quo, rerum facilis ipsum magni dolor nulla, quis qui illo! Maiores labore sunt expedita!</p>
          <dl>
            <dt>Lehrer:</dt>
            <dd>Person XYZ</dd>
          </dl>
          <table class="table table-bordered table-hover table-condensed">
            <thead>
              <tr>
                <th>Tag</th>
                <th>Uhrzeit</th>
                <th>Raum</th>
                <th>F&uuml;r</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Montag</td>
                <td>12:30 Uhr</td>
                <td>R 321</td>
                <td>Kinder</td>
              </tr>
              <tr>
                <td>Mittwoch</td>
                <td>10:45 Uhr</td>
                <td>R 101</td>
                <td>Kinder</td>
              </tr>
            </tbody>
          </table>
          <br>

          <h3>Deutsch - Einsteiger <small>An einem anderen Ort</small></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores labore sunt expedita!</p>
          <dl>
            <dt>Lehrer:</dt>
            <dd>Person XYZ</dd>
            <dd>Person ABC</dd>
          </dl>
          <table class="table table-bordered table-hover table-condensed">
            <thead>
              <tr>
                <th>Tag</th>
                <th>Uhrzeit</th>
                <th>Raum</th>
                <th>F&uuml;r</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Dienstag</td>
                <td>12:30 Uhr</td>
                <td>R 201</td>
                <td>Erwachsene</td>
              </tr>
              <tr>
                <td>Dienstag (Nur Kinder)</td>
                <td>12:30 Uhr</td>
                <td>R 202</td>
                <td>Erwachsene</td>
              </tr>
              <tr>
                <td>Donnerstag</td>
                <td>12:30 Uhr</td>
                <td>R 201</td>
                <td>Kinder</td>
              </tr>
            </tbody>
          </table>
          <br>

          <h3>Deutsch für Analphabeten <small>An dem Ort XYZ</small></h3>
          <dl>
            <dt>Lehrer:</dt>
            <dd>Person XYZ</dd>
          </dl>
          <table class="table table-bordered table-hover table-condensed">
            <thead>
              <tr>
                <th>Tag</th>
                <th>Uhrzeit</th>
                <th>Raum</th>
                <th>F&uuml;r</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Freitag</td>
                <td>15:00 Uhr</td>
                <td>R 125</td>
                <td>Alle</td>
              </tr>
            </tbody>
          </table>
          <br>

          <h3>Deutsch 101 <small>Hinter dem Gebäude H</small></h3>
          <p>Maiores labore sunt expedita!</p>
          <dl>
            <dt>Lehrer:</dt>
            <dd>Person EFG</dd>
          </dl>
          <table class="table table-bordered table-hover table-condensed">
            <thead>
              <tr>
                <th>Tag</th>
                <th>Uhrzeit</th>
                <th>Raum</th>
                <th>F&uuml;r</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Dienstag (Nur Kinder)</td>
                <td>12:30 Uhr</td>
                <td>R 202</td>
                <td>Kinder</td>
              </tr>
              <tr>
                <td>Donnerstag</td>
                <td>12:30 Uhr</td>
                <td>R 201</td>
                <td>Kinder</td>
              </tr>
              <tr>
                <td>Dienstag</td>
                <td>12:30 Uhr</td>
                <td>R 201</td>
                <td>Erwachsene</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-2 .col-sm-offset-1">
        <div class="menu">
          <ul>
            <li><a href="#/projects">Aktuelle Projekte</a></li>
            <li><a href="#/classes">Sprachkurse</a></li>
            <li><a href="#/cafe">Frauen-Café</a></li>
            <li><a href="#/care">Betreuung</a></li>
            <li><a href="#/garage">Fahrradwerkstatt</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<footer></footer>