extends layouts/two_columns.pug

block title
  title AGF&nbsp;Werne&nbsp;e.&nbsp;V. - Projekte

block content
  // projects
  div.jumbotron.jumbotron-fluid.jumbotron-with-bg(style='background-image: url("./img/klasse.jpeg");')
    div.container.p-5.p-5
      ul.nav.mb-5
        li.nav-item
          a.nav-link.active(href="./index.html") Startseite
        li.nav-item
          a.nav-link(href="./projects.html") Unsere&nbsp;Arbeit
        li.nav-item
          a.nav-link(href="./infos.html") Infos
        li.nav-item
          a.nav-link(href="./about.html") Der Verein
        li.nav-item
          a.nav-link(href="./contact.html") B-Treff
      h1.display-4 Unsere Projekte
      p.lead Die Arbeitsgemeinschaft unterst&uuml;tzt die Fl&uuml;chtlinge bei der Integration durch viele verschiedene Projekte. Dazu geh&ouml;ren neben dem regul&auml;ren Deutschunterricht und der Begleitung der Fl&uuml;chtlinge zu Beh&ouml;rden, unter anderem folgende:
      p.lead Der Deutschunterricht f&uuml;r Frauen, die Fahrradwerkstatt, das Frauen-Café sowie die Integration in die Arbeitswelt.
  div.container
    div.row
      div.col
        div.mb-5#teaching
          h2 Deutschunterricht
          p Die Erteilung von Deutschunterricht, verbunden mit der Finanzierung der Unterrichtsmittel f&uuml;r die Teilnehmer, war von Anfang an, bereits lange vor der Gr&uuml;ndung des Vereins, eine der Kernzielsetzungen der AGF Werne e.V.
          p Schon seit 2014 unterrichteten in Werne ehrenamtliche Lehrkr&auml;fte Deutsch in den Fl&uuml;chtlingsunterk&uuml;nften, meist unter r&auml;umlich beengten und ung&uuml;nstigen &auml;ußeren Bedingungen.
          p Im April 2015 konnten dann endlich in Zusammenarbeit mit der VHS Werne die ersten vier ehrenamtlichen Deutschkurse auf unterschiedlichen Niveaus mit jeweils zwei w&ouml;chentlichen Kursterminen in der Marga-Spiegel-Schule starten, es standen zum ersten Mal richtige Klassenr&auml;ume mit geeigneter Ausstattung zur Verf&uuml;gung. Ab Herbst 2015 wuchsen im Zuge des Andrangs einer großen Zahl von Fl&uuml;chtlingen die Teilnehmerzahlen sehr stark an, und bis zum Sommer 2016 gab es neben den urspr&uuml;nglichen in 2015 begonnenen Kursen zeitweise sechs weitere Kurse im Alfabetisierungs-, Anf&auml;nger- und Fortgeschrittenenbereich mit jeweils 4 w&ouml;chentlichen Terminen und insgesamt ca. 150 TeilnehmerInnen, die alle von einem Kollegium aus ca. 20-25 ehrenamtlichen KursleiterInnen abgedeckt wurden. Neben der Marga-Spiegel-Schule stellten in den Schulferien auch das Juwel und das Freiherr-vom-Stein-Berufskolleg R&auml;umlichkeiten zur Verf&uuml;gung, so dass nahezu die ganze Zeit &uuml;ber kontinuierlich unterrichtet werden konnte.
          p Seit August 2016 findet der Deutschunterricht in der Barbaraschule statt. Zur Zeit laufen neben dem offiziellen Integrationskurs der VHS Werne ein 100-Stunden-Kurs mit F&ouml;rderung durch das Land NRW sowie vier ehrenamtliche Kurse, ein Alfabetisierungskurs, ein reiner Anf&auml;ngerkurs, ein Kurs f&uuml;r fortgeschrittene Anf&auml;nger und ein Fortgeschrittenenkurs auf Niveau A2. Diese Kurse finden jeweils von Montag bis Donnerstag in der Zeit von 16:30 – 18:00 Uhr statt, neue TeilnehmerInnen k&ouml;nnen jederzeit hinzukommen und eingegliedert werden. Dank der zur Verf&uuml;gung stehenden R&auml;ume und der Flexibilit&auml;t des Kollegiums k&ouml;nnten durchaus weitere Kurse gebildet werden, auch neue ehrenamtliche Lehrkr&auml;fte sind jederzeit willkommen.
        div.mt-5#teachingwomen
          h2 Deutschunterricht f&uuml;r Frauen
          p Der Deutschunterricht f&uuml;r Frauen findet seit Februar 2015 zwei Mal w&ouml;chentlich vormittags statt. Seit Juli 2016 sind im B-Treff die R&auml;ume so ausgestattet worden, dass seitdem dort der Unterricht stattfinden kann.
          p Wir bieten 3 Kurse an: einen Alfabetisierungskurs, einen f&uuml;r Sprachanf&auml;ngerinnen und den dritten f&uuml;r Anf&auml;ngerinnen mit geringen Vorkenntnissen.
          figure.figure
            img.figure-img.img-fluid.rounded(src="img/teaching-women.jpg", alt="Deutschunterricht f&uuml;r Frauen im B-Treff")
            figcaption.figure-caption Fahrradwerkstatt
          p Das Interesse der Frauen an der Sprache ist ebenso groß wie das der M&auml;nner, weil aber die Betreuung der Kinder in der Regel nur in den H&auml;nden der Frauen liegt, bieten wir diese Kurse nicht nur zu anderen Zeiten an sondern auch mit der M&ouml;glichkeit, kleine Kinder im Kinderwagen mitzubringen. Seit Juli 2016 k&ouml;nnen zur gleichen Zeit die etwas gr&ouml;ßeren Kinder (im Alter von 1 -6) in der „L&ouml;wenburg“, dem Kindergarten f&uuml;r Fl&uuml;chtlingskinder, betreut werden, so dass die M&uuml;tter sich ganz auf den Unterricht konzentrieren k&ouml;nnen.
        div.mt-5#garage
          h2 Fahrradwerkstatt
          p Die Fahrradwerkstatt besteht seit November 2014.
          p In dieser Zeit wurden &uuml;ber 400 Damen-, Herren- und Kinder-Fahrr&auml;der gespendet. Diese wurden durch das Werkstatt-Team verkehrst&uuml;chtig gemacht und an die Asylbewerber weitergeben. Zu dem Werkstatt-Team geh&ouml;ren auch Asylbewerber die mithelfen die Fahrr&auml;der zu reparieren.
          figure.figure
            img.figure-img.img-fluid.rounded(src="img/garage.jpg", alt="Fahrradwerkstatt")
            figcaption.figure-caption Fahrradwerkstatt
          p.mt-3 Die Werkstatt befindet sich an der Stockumer Straße in den von Bernhard Schlierkamp seit 1,5 Jahren unentgeltlich zur Verf&uuml;gung gestellten Großgaragen, gegen&uuml;ber der abgebrochenen Weihbachschule.
          p Hierher k&ouml;nnen jeden Dienstag von 17 bis 19 Uhr die Asylbewerber mit ihren defekten Fahrr&auml;dern kommen und sie sich selber reparieren.
          p Gleichzeitig ist dort die Meldestelle f&uuml;r Asylbewerber die ein Fahrrad haben m&ouml;chten. Von jedem Bewerber wird ein Foto gemacht. Wer ein Fahrrad erh&auml;lt bekommt einen Ausweis und an dem Fahrrad wird ein Schild angebracht auf dem der Name und eine Fahrradnummer steht. Einige haben versucht sich mehrmals registrieren zu lassen sind aber entdeckt und abgewiesen worden.
          p Bedanken m&ouml;chte ich mich auch beim Pertheswerk am Bahnhof. Hier wird uns bei schwierigen Reparaturen, wof&uuml;r wir kein Werkzeug oder Fachwissen haben geholfen.
          p Wir sind alles keine Spezialisten f&uuml;r Fahrr&auml;der sondern Laien, die enfach angefangen haben zu helfen. Wer also noch Fahrr&auml;der oder Ersatzteile im Keller oder Garage hat kann sich bei der AGF oder bei mir melden.
          p Telefonisch unter <a href="tel:+49238945383">02389/45383</a> oder per E-Mail unter <a href="mailto:franz-josef.dahmen@web.de">franz-josef.dahmen@web.de</a>.
        div.mt-5#cafe
          h2 Frauen-Café
          p Das Kaffeetrinken f&uuml;r Fl&uuml;chtlingsfrauen hat die AGF in Zusammenarbeit mit dem WSC im Februar 2015 ins Leben gerufen.
          figure.figure
            img.figure-img.img-fluid.rounded(src="img/cafe.png", alt="Frauen-Café im B-Treff")
            figcaption.figure-caption Frauen-Café im B-Treff
          p Monatlich bieten wir den Frauen damit die M&ouml;glichkeit, sich untereinander und mit ihren deutschen Betreuerinnen in zwangloser Atmosph&auml;re zu unterhalten, neue Bekanntschaften zu machen und dabei auch die erworbenen Deutschkenntnisse zu testen. Seit Juli 2016 findet das Treffen im B-Treff in der Burgstraße statt.
        div.mt-5#integration
          h2 „Integration in die Arbeitswelt“
          p Der Arbeitskreis „Integration in die Arbeitswelt“ hat sich zum Ziel gesetzt, m&ouml;glichst vielen Fl&uuml;chtlingen den deutschen Arbeitsalltag n&auml;her zu bringen.
          p Wir versuchen Hospitations- und Praktikumspl&auml;tze zu finden, so dass interessierte Asylbewerber mit Grundkenntnissen in der deutschen Sprache einen Einblick in die Strukturen und Abl&auml;ufe in Firmen, L&auml;den oder B&uuml;ros bekommen. Dabei arbeiten wir mit dem Integration-Point und der Ausl&auml;nderbeh&ouml;rde zusammen.
      div.col-4
        ul
          li
            a(href="projects.html#teaching") Deutschunterricht
          li
            a(href="projects.html#teachingwomen") Deutschunterricht f&uuml;r Frauen
          li
            a(href="projects.html#garage") Fahrradwerkstatt
          li
            a(href="projects.html#cafe") Frauen-Café
          li
            a(href="projects.html#integration") „Integration in die Arbeitswelt“
    div.mt-5
      p Mit Unterstützung von <a href="http://www.kfi.nrw.de/Foerderprogramme/KOMM-AN-NRW/"><img style="height: 61px;" src="img/komm-an.jpg"></a>, eine Initiative des <img src="img/mais-nrw.png">
  // / projects