extends layouts/two_columns.pug

block title
  title Der Verein - Vereinsstruktur

block content
  // structure
  div.container.mt-5
    div.row
      div.col
        div#structure
          h1.display-4 Vereinsstruktur
          div.mt-5
            dl.dl-horizontal
              dt Erweiterter Vorstand:
                dd
                  div gesch&auml;ftsf&uuml;hrender Vorstand
                  div 1-2 Personen aus den einzelnen Arbeitskreisen
            dl
              dt Aufgaben:
                dd
                  div Koordination der Bereiche
                  div &Uuml;berblick &uuml;ber die Finanzen/Geldspenden
                  div Kontakt mit der Stadt &amp; weiteren Organisationen
                  div Planung von Veranstaltungen
                  div Weiterentwicklung der AGF
          div.mt-5
            h2 Bereiche
          div.mt-3
            h3 Deutsch als Fremdsprache
            ul
              li
                b Leitung: Annette Maru / Ingrid Spiekermann
              li Koordination und Weiterentwicklung der Sprachkurse
              li Austausch der Lehrenden
              li Alphabetisierung / Erarbeitung von Unterrichtsmaterial
          div.mt-5
            h3 Patenschaften  f&uuml;r die Betreuung von Familien und Sch&uuml;lern
            ul
              li
                b Leitung: Heidrun Steiger
              li Aufbau eines Patenschaftsmodells mit Ansprechpartnern f&uuml;r die einzelnen Unterk&uuml;nfte
              li Koordinierung der Begleitung von Fl&uuml;chtlingen
          div.mt-5
            h3 Vernetzung der AGF
            ul
              li
                b Leitung: Anne Klose / Danilo Klose
              li Intensivierung der &Ouml;ffentlichkeitsarbeit &uuml;ber Flyer, Presse, soziale Medien etc.
              li Einsatz von Facebook
              li Erstellung &amp; Pflege einer Homepage
          div.mt-5
            h3 Fahrradwerkstatt / Fernsehinstallation / Kleiderkammer / Kleinm&ouml;bel
            ul
              li
                b Leitung: Jupp Dahmen / Stefanie Feldmeier
              li Umgang mit Kleidungs- und Sachspenden
              li Fahrradwerkstatt
              li Fernsehinstallationen/Lagerung und Ausgabe von Zubeh&ouml;r
          div.mt-5
            h3 Integration in die Arbeitswelt
            ul
              li
                b Leitung: Monika Meyer
              li Versuch der Vermittlung von Hospitation, Praktikum, Ausbildung und Arbeit
              li Kontakte zu Werner Unternehmen
              li Kontakte zu Integration Point, Jobcenter usw.
          div.mt-5
            h3 Wohnungsvermittlung
            ul
              li
                b Leitung: Kerstin Ludwig
              li Kontakte zu Wohnungsbaufirmen
              li Ablaufbeschreibung bei Anmietung einer Wohnung
      div.col-4
        include partials/about/navigation.pug
  // / structure