<section class="mosaic pos-rel clear-both">
  <div class="background-img">
    <div class="image"></div>
  </div>
  <div class="fields pos-abs clear-both">
    <div class="field left">
      <a href="#/news">
        <section class="button top">
          <span class="caption mosaic-news">Neuigkeiten</span>
        </section>
      </a>
      <a href="#/about">
        <section class="button bottom">
          <span class="caption mosaic-about">&Uuml;ber uns</span>
        </section>
      </a>
    </div>
    <div class="field right">
      <a href="#/projects">
        <div class="button top">
          <span class="caption mosaic-projects">Unsere Arbeit</span>
        </div>
      </a>
      <a href="#/infos">
        <div class="button middle">
          <span class="caption mosaic-infos">Informationen</span>
        </div>
      </a>
      <a href="#/contact">
        <div class="button bottom">
          <span class="caption mosaic-contact">Kontakt</span>
        </div>
      </a>
    </div>
  </div>
</section>