// layout/pagelayout_head
head
  block metadata
    include pagelayout_head_meta.pug

  link(type="text/plain", rel="author", href="humans.txt")/

  block title
    title Page Layout Title

  block stylesheets
    include pagelayout_head_stylesheets.pug
// / layout/pagelayout_head