// layout/pagelayout_body_navigation
block navigation
  nav.mosaic-nav.position-relative
    div.mosaic-nav-background.position-absolute
    div.mosaic-nav-fields.position-relative
      aside.left.float-left
        a(href="./projects.html#content")
          div.button.top
            span.caption.bg-projects Unsere&nbsp;Arbeit
        a(href="./infos.html#content")
          div.button.bottom
            span.caption.bg-about Infos
      aside.right.float-right
        a(href="./about.html#content")
          div.button.top
            span.caption.bg-infos &Uuml;ber&nbsp;uns
        a(href="./contact.html#content")
          div.button.bottom
            span.caption.bg-contact B-Treff
// / layout/pagelayout_body_navigation