// layout/pagelayout_body_header
block header
  - var url_homepage = "http://www.agf-werne.de"
  - var url_facebook = "https://www.facebook.com/AGFWerne"
  - var url_email = "mailto:agfwerne@gmx.de"
  header.header
    div.container
      div.row
        div.col
          div.agf-logo.float-left
            a(href=url_homepage)
              img.image(src="img/agf-logo-sm.png")/
        div.col
          div.agf-contact.float-right.fa-3x
            a(href=url_facebook, target="_blank")
              span.fa-layers.fa-fw
                i.fas.fa-circle.c-facebook
                i.fa-inverse.fab.fa-facebook-f(data-fa-transform="shrink-6")
            a(href=url_email, target="_top")
              span.fa-layers.fa-fw
                i.fas.fa-circle.c-about
                i.fa-inverse.fa.fa-envelope(data-fa-transform="shrink-6")
      div.agf-headline.float-none
        h1 Arbeitsgemeinschaft&nbsp;Fl&uuml;chtlinge&nbsp;Werne&nbsp;e.&nbsp;V.
        p.lead Herzlich&nbsp;willkommen&nbsp;auf&nbsp;unserer&nbsp;Webseite!
// / layout/pagelayout_body_header