// layout/pagelayout_body_footer
block footer
  footer.footer
    div.container
      div.row
        div.col
          div.float-left
            div.copyright.small &copy;&nbsp;<span class="year">2018</span>&nbsp;<a href="http://www.agf-werne.de/">AGF&nbsp;Werne&nbsp;e.&nbsp;V.</a>
            ul.links.small
              li
                a(href="./contact.html") Kontakt
              li
                a(href="./legal.html") Impressum
        div.col
          div.float-right
            a.backtotop.fa-3x(href="#backtotop", alt="Back to top")
              span.fa-layers.fa-fw
                i.fas.fa-circle.c-about
                i.fa-inverse.fa.fa-chevron-up(data-fa-transform="shrink-6")
// / layout/pagelayout_body_footer