// layout/pagelayout_body_footer
block footer
  footer.footer.mt-5.bg-footer
    div.container.d-sm-flex.justify-content-between
      div.p-2
        div.copyright.d-flex.align-items-center.h-100.text-white
          div.p-2 &copy;&nbsp;<span class="year">2018</span>&nbsp;<a href="http://www.agf-werne.de/">AGF</a>
      div.p-2
        ul.links.d-flex.align-items-center.h-100
          //- li.p-2.mr-3
          //-   a.text-white(href="./contact.html#content") Kontakt
          li.p-2
            a.text-white(href="./legal.html#content") Impressum
      div.p-2
        div.backtotop(data-toggle="tooltip", data-placement="left", title="Zum Seitenanfang")
          a.fa-3x(href="#backtotop", alt="Scroll back to top")
            span.fa-layers.fa-fw
              i.fas.fa-circle.c-about
              i.fa-inverse.fa.fa-chevron-up(data-fa-transform="shrink-6")
// / layout/pagelayout_body_footer