// layout/pagelayout_head_stylesheets
link(rel="stylesheet", href="../node_modules/bootstrap/dist/css/bootstrap.min.css")
//- link(rel="stylesheet", href="../node_modules/font-awesome/css/font-awesome.min.css")
link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.6/css/all.css")
link(rel="stylesheet", href="./css/main.css")
// / layout/pagelayout_head_stylesheets

script(src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")  