ul
  li
    a(href="about.html#content") Vereinsgeschichte
  li
    a(href="structure.html#content") Vereinstruktur
  li
    a(href="statutes.html#content") Vereinssatzung
  li
    a(href="https://github.com/AGF-Werne/media/raw/master/pdfs/agf-aufnahmeantrag.pdf", target="_blank") Mitgliedschaftsantrag