ul
  li
    a(href="about.html#content") Vereinsgeschichte
  li
    a(href="structure.html#content") Vereinstruktur
  li
    a(href="statutes.html#content") Vereinssatzung
  li
    a(href="http://agf-werne.de/assets/files/aufnahmeantrag-agfwerne.20170402.pdf", target="_blank") Mitgliedschaftsantrag